body {
    background-image: var(--contact-img);
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

main {
    min-height: 100vh;
}

textarea {
    resize: none;
}

.card {
    font-size: var(--font-size-label);
}

.contact-container {
    transform: var(--transform-input);
}

.form-control {
    font-size: var(--input-size);
}