.img-cover-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 310px solid var(--light-grey);
    border-right: 100px solid transparent;
}

.img-cover-right {
    margin-left: -100px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 310px solid var(--light-grey);
    border-left: 100px solid transparent;
}

.model-description {
    font-size: 17px;
}

img {
    width: 100%;
}