.top-content {
    width: 100%;
    padding: 0;
}

.top-content .carousel {
    margin-bottom: 0px;
}

.top-content .carousel-control-prev {
    border-bottom: 0;
}

.top-content .carousel-control-next {
    border-bottom: 0;
}

@media (max-width: 767px) {
    h1,
    h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .top-content .carousel-indicators {
        display: none;
    }
}

.top-content .carousel-item {
    height: 100vh;
    min-height: 400px;
}

.top-content .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 575px) {
    .top-content h1,
    .top-content h2,
    .top-content h3 {
        font-size: 18px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media (max-width: 575px) {
    .top-content .carousel-item {
        height: 100vh;
    }
}


/*---------- SLIDE CAPTION ----------*/

.slide_style_left {
    text-align: left !important;
    left: 0;
    top: 25%;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}

.slide_style_right {
    text-align: right !important;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}

.slide_style_bottom {
    text-align: center !important;
    left: 0;
    bottom: 15%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}

.slide-text {
    color: #ffffff;
}

.slide-text>h1 {
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-heading {
    font-size: 40px;
    font-weight: bold;
    color: #f4ac0c;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-heading-1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-text>p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.slide-text>a.btn-default,
.slide-text>a.btn-warning,
.slide-text>a.btn-danger {
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text>a.btn-primary {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 815px) {
    .img-title {
        font-size: var(--font-size-title-slide-cell) !important;
    }
    .img-text {
        font-size: var(--font-size-text-slide-cell) !important;
        font-weight: bolder;
    }
    .slide_style_left {
        margin-top: 10% !important;
    }
    .slide_style_right {
        margin-top: 10% !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media screen and (min-width: 815px) {
    .img-title {
        font-size: var(--font-size-title-dsk) !important;
    }
    .img-text {
        font-size: var(--font-size-text-dsk) !important;
        font-weight: bolder;
    }
    .slide_style_left {
        margin-left: 10% !important;
    }
    .slide_style_right {
        margin-right: 10% !important;
    }
}