.models-bg-img {
    width: 100vw;
    height: 100vh;
    background-image: var(--capa-models);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    z-index: 10;
}

@media screen and (max-width: 800px) {
    .img-title {
        font-size: var(--font-size-title-cell);
    }
    .img-text {
        font-size: var(--font-size-text-cell);
        font-weight: bolder;
    }
    .models-bg-img {
        background-image: var(--capa-models-cell);
    }
}

@media screen and (min-width: 800px) {
    .img-title {
        font-size: var(--font-size-title-dsk);
    }
    .img-text {
        font-size: var(--font-size-text-dsk);
        font-weight: bolder;
    }
    .models-bg-img {
        background-image: var(--capa-models);
    }
}