:root {
    --black: #000;
    --white: #fff;
    --gray: #808080;
    --yellow: #e9e506;
    --light-grey: rgb(224, 224, 224);
    --font-nav: "Quicksand", sans-serif;
    --contact-img: url('../img/contact-img.jpg');
}


/* Celulares e Tablets */

@media screen and (max-width: 800px) {
     :root {
        --lambo1: url('../img/lambo1-cel.jpg');
        --lambo2: url('../img/lambo2-cel.jpg');
        --lambo3: url('../img/lambo3-cel.jpg');
        --lambo4: url('../img/lambo4-cel.jpg');
        --lambo5: url('../img/lambo5-cel.jpg');
        --font-size-title-slide: 20px;
        --font-size-text-slide: 30px;
        --font-size-label: 10px;
    }
}


/* Desktop e afins */

@media screen and (min-width: 800px) {
     :root {
        --lambo1: url('../img/lambo1.jpg');
        --lambo2: url('../img/lambo2.jpg');
        --lambo3: url('../img/lambo3.jpg');
        --lambo4: url('../img/lambo4.jpg');
        --lambo5: url('../img/lambo5.jpg');
        --font-size-title-slide: 35px;
        --font-size-text-slide: 90px;
        --font-size-label: 16px;
    }
}

@media screen and (max-width: 1910px) {
     :root {
        --font-size-text-slide: 65px;
    }
}

@media screen and (max-width: 1300px) {
     :root {
        --font-size-text-slide: 50px;
    }
}

@media screen and (max-width: 1100px) {
     :root {
        --font-size-text-slide: 35px;
    }
}

@media screen and (max-width: 790px) {
     :root {
        --font-size-text-slide: 20px;
    }
}